<!-- blog/templates/blog/post_edit.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Edit Post</h1>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="title" value="{{ post.title }}" required><br>
    <textarea name="content" required>{{ post.content }}</textarea><br>
    <select name="category" required>
      <option value="" disabled>Select Category</option>
      {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id == post.category.id %}selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
    </select><br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
